.header_wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 2px 6px 8px -3px rgba(133,133,133,0.56); 
box-shadow: 2px 6px 8px -3px rgba(133,133,133,0.56);
}

.header_wrap .header_logo{
    width: 150px;
    height: auto;
}

.header_wrap .header_logo img{
    width: 100%;
}

.header_wrap .header_title{
    font-weight: 600;
    font-size: 28px;
}


